<div class="main">
    <h1>{{title}}</h1>

</div>
<div class="buttons">
    <button [ngClass]="{'selected':('PST'==zone)}" type="button" (click)="onClick('PST')">PST</button>
    <button [ngClass]="{'selected':('MST'==zone)}" type="button" (click)="onClick('MST')">MST</button>
    <button [ngClass]="{'selected':('CST'==zone)}" type="button" (click)="onClick('CST')">CST</button>
    <button [ngClass]="{'selected':('EST'==zone)}" type="button" (click)="onClick('EST')">EST</button>
    <button [ngClass]="{'selected':('UTC'==zone)}" type="button" (click)="onClick('clear')">Clear</button>
    <h3>{{today|date:'medium' : zone}}</h3>
</div>